{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<style>

.background {
   background-image: linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.4)
    ),
    url(https://eskipaper.com/images/nature-background-3.jpg);
    background-position: center;

}

.subCat 
{
    font-size: 1.3em;
}

.leadFont {
    color:#343a40;
}
</style>


<header class="bg-success py-5" style="background-color: #7bed9f !important;">
            <div class="container px-1 px-lg-1 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="color:#343a40;">Printemps 2022</h1>
                    <p class="lead fw-normal text-white-50 mb-0" style="color:#343a40 !important;">Profitez de -22% de réduction sur certains de nos produit pour le printemps</p>
                </div>
            </div>
        </header>

        <br>



{% include '/base/flash.html.twig' %}
<div class="container">
<div class="card card-body">
  <div class="row">
    <div class="col-sm-4">

<div class="card">
<div class="card-header">Les marques</div>
<div class="card-body">
    <nav class="nav flex-column">
        {% for marque in marques %}
            <a class="nav-link active" href="">{{ marque.getLibelle() }}</a>
        {% endfor %}
    </nav>
</div>
</div>
<br>

    </div>
    <div class="col-sm-8">

  <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="#">Accueil</a></li>
       <li class="breadcrumb-item active" aria-current="page">Produits</li>
     </ol>

   </nav>

<div class="card card-body">

<section>
<h1  class="subCat">Produit mis en avant</h1><hr>

  <div class="row">
 {% if enAvant|length > 0 %}
  {% for produit in enAvant %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            {% if produit.haveStock() == false %}
                  <span class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Rupture de stock</span>
            {% endif %}
              <center><img class="card-img-top" style="height: 250px; width: 200px; text-align:center;" src="{{ produit.illustration }}" alt="{{produit.getNom()}}"></center>
              <div class="card-body">
                <a style="text-decoration:none; color:black;" href="{{ path('app_product_show', {'id': produit.id }) }}"><h5>{{ produit.nom }}</h5> 
                  
                </a>
                <p class="card-text">{{ produit.getResume() }}</p>

                        <div class="text-left">
                                   à partir de {{ produit.getLowPrice() }} €
                                </div>
                <br>

                <a href="{{ path('app_product_show', {'id': produit.id }) }}" class="btn btn-sm btn-outline-secondary" href="allocine-details.html">Plus de détails</a>
              </div>
              <div class="card-footer">
              
                {% if produit.getTotalNotes() > 0 %}
                <small class="text-muted">
                  {% for i in 0..4 %}
                    {% if produit.getAverageNote() > i %}
                      <span class="star" style="color:gold;">★</span>
                    {% else %}
                      <span class="star" style="color:grey;">★</span>
                    {% endif %}
                  {% endfor %}
                  ({{produit.getTotalNotes}})
                </small>
                {% else %}
                  <small>Aucun avis</small>
                 {% endif %}

              </div>
            </div>
          </div>
          
{% endfor %}
{% else %}
</div>

    <div class="col">
  <div class="alert alert-danger">Nous n'avons aucun produit en avant pour le moment.</div>
</div>
{% endif %}

</section><br>
<section>

<h1 class="subCat" >Nouveautés</h1><hr>
  <div class="row">
 {% if products|length > 0 %}
  {% for produit in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            {% if produit.haveStock() == false %}
                  <span class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Rupture de stock</span>
            {% endif %}
              <center><img class="card-img-top" style="height: 250px; width: 200px; text-align:center;" src="{{ produit.illustration }}" alt="{{produit.getNom()}}"></center>
              <div class="card-body">
                <a style="text-decoration:none; color:black;" href="{{ path('app_product_show', {'id': produit.id }) }}"><h5>{{ produit.nom }}</h5> 
                  
                </a>
                <p class="card-text">{{ produit.getResume() }}</p>

                        <div class="text-left">
                                   à partir de {{ produit.getLowPrice() }} €
                                </div>
                <br>

                <a href="{{ path('app_product_show', {'id': produit.id }) }}" class="btn btn-sm btn-outline-secondary" href="allocine-details.html">Plus de détails</a>
              </div>
              <div class="card-footer">
              
                {% if produit.getTotalNotes() > 0 %}
                <small class="text-muted">
                  {% for i in 0..4 %}
                    {% if produit.getAverageNote() > i %}
                      <span class="star" style="color:gold;">★</span>
                    {% else %}
                      <span class="star" style="color:grey;">★</span>
                    {% endif %}
                  {% endfor %}
                  ({{produit.getTotalNotes}})
                </small>
                {% else %}
                  <small>Aucun avis</small>
                 {% endif %}

              </div>
            </div>
          </div>
          
{% endfor %}
{% else %}
</div>

    <div class="col">
  <div class="alert alert-danger">Nous n'avons aucun produit en avant pour le moment.</div>
</div>
{% endif %}
</section>
</div>
</div>

</div>
</div>



</div><br>

{% endblock %}
