{% extends 'baseAdmin.html.twig' %}


{% block menu %}
    <div class="card card-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_admin_show_products') }}">Liste des produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
    
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="card card-body">
    
        <h4>Création d'une affiliation</h4>

        <br>

        <form action="#" method="post">
            <div class="form-group" style="border: 1px solid black; border-radius: 5px; padding:5px; margin: 5px;">
                Produit visé:
                <select class="form-control" name="product" style="display:inline; padding:5px; margin-bottom: 10px;" id="product">
                    {% for prod in produits %}
                        <option value="{{ prod.getId() }}">{{ prod.getNom() }}</option>
                    {% endfor %}
                </select>
                Produit recommandé:
                <select class="form-control" name="recommend" style="display:inline; padding:5px; margin-bottom: 10px;" id="product">
                    {% for prod in produits %}
                        <option value="{{ prod.getId() }}">{{ prod.getNom() }}</option>
                    {% endfor %}
                </select>

                <input type="submit" name="createAffiliation" value="Créer l'affiliation" class="btn btn-primary btn-sm">
            </div>
        </form>

        <br>
<table class="table">
    <thead>
        <tr>
        <th scope="col">Produit</th>
        <th scope="col">Recommandation</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for recomm in recommandations %}
        <tr>
            <td scope="row">{{ recomm.getProduit().getNom() }}</td>
            <td>{{ recomm.getRecommend().getNom() }}</td>
            <td>
                <form action="#" method="post">
                    <input type="hidden" value="{{recomm.getId()}}" name="idRecomm">
                    <input type="submit" value="Supprimer" name="deleteRecomm" style="background:none; border:none; color:red; font-weight; weight;">
                </form>
            </td>
        </tr>
    {% endfor %}   
    </tbody>
    </table>
    </div>
{% endblock %}
