{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{% include '/base/flash.html.twig' %}

<script>

$(document).ready(function() {
    qte = $('.qty').val()
    id = $('#selectPrix').val()
    $.ajax({
        type: "POST",
        url: "{{ path('app_ajax') }}",
        data: {'id': id}
    }).done(function(data){
        var price = data['message'][0] * qte
        var max = data['message'][1]
        $('.prixProduit').text(price.toFixed(2));
		$('#resteProduit').text("Stock restant: "+max)
		$('.qty').attr({
		"max" : max,     
		"value": 1,
		"min" : 1
		});


    })
});

function updatePrice()
{
    qte = $('.qty').val()
    id = $('#selectPrix').val()
    $.ajax({
        type: "POST",
        url: "{{ path('app_ajax') }}",
        data: {'id': id}
    }).done(function(data){
        var price = data['message'][0] * qte
        var max = data['message'][1]
		
		$('#resteProduit').text("Stock restant: " + max)

        $('.prixProduit').text(price.toFixed(2));
		$('.qty').attr({
		"max" : max,         
		"value": 1,
		"min" : 1
		});

    })
}
</script>

	<div class="container"><br><br>
        <div class="card card-body bg-dark text-white">
	        <div class="row">
	        	<div class="col-md-6">
                     <img src="{{produit.getIllustration()}}" style="text-align: center;"width="400px" height="400px" >
                </div>
	        	<div class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info">
		        			<div class="product-name">{{ produit.getNom() }}</div>
		        			<div class="reviews-counter">
								  {% if produit.getTotalNotes() > 0 %}
              
								{% for i in 0..4 %}
									{% if produit.getAverageNote() > i %}
										<span class="star" style="color:gold;">★</span>
									{% else %}
										<span class="star" style="color:grey;">★</span>
									{% endif %}
								{% endfor %}
								{% endif %}
								<span>{{ produit.getTotalNotes() }} avis</span>
							</div>
		        		</div><br>
	        			<p>{{produit.getDescription()}}
						J'aime les hommes</p>
	        			{% if produit.haveStock() == true %}
                        <form action="{{ path('app_cart_add') }}" method="post">
	        			<div class="row">  
	        				<div class="col-md-6">
								<label for="contenance">Contenance</label>
                                        

								<select id="selectPrix" onChange="updatePrice(this)"  name="contenance" class="form-control">

                                    {% for stock in produit.getContenances() %}
										{% if stock.getStock() > 0 %}
									    <option value="{{ stock.getId() }}">{{ stock.getQuantite()}} {{stock.getUnite() }}</option>
										{% endif %}
								    {% endfor %}
								</select>
	        				</div>
	        			</div>
	        			<div class="product-count">
	        				<label for="size">Quantité</label>
	        				<form action="#" class="display-flex">
							    <input  onChange="updatePrice(this)" id="quantity" type="number" name="quantity" min="1" value="1" class="qty">
							</form>
							<label for="quantity" id="resteProduit">Stock restant: {{ produit.getContenances()[0].getStock() }}</label>
		        			<div class="product-price-discount"><span class="prixProduit">{{ produit.getContenances()[0].getPrix() }}</span> €</div>

                                <input type="submit" class="round-black-btn" value="Ajouter au panier">
                        
                            </form>
							{% else %}
								<p style="color:red; font-weight: weight;">Le produit n'est plus en stock.</p>	
							{% endif %}
	        			</div>
	        		</div>
	        	</div>
	        </div>
	        <div class="product-info-tabs">
		     
				<div class="card text-white" style="background-color: #353c46;">
				  	<div class="card-body " >
                        {% if app.user %} 
                            <div>
									<form action="{{ path('app_product_review_add', {id: produit.getId()}) }}" method="post">

                                    <div class="row">
										
									<div class="col">
										<div class="reviews-counter">
										<div style="display: inline-block;">
											<div class="rate" style="display: inline-block; float:right;">
												<input type="radio" id="star5a" name="rateReview" value="5" />
												<label for="star5a" title="5 étoiles">5 stars</label>
												<input type="radio" id="star4a" name="rateReview" value="4" />
												<label for="star4a" title="4 étoiles">4 stars</label>
												<input type="radio" id="star3a" name="rateReview" value="3" />
												<label for="star3a" title="3 étoiles">3 stars</label>
												<input type="radio" id="star2a" name="rateReview" value="2" />
												<label for="star2a" title="2 étoiles">2 stars</label>
												<input type="radio" id="star1a" name="rateReview" value="1" />
												<label for="star1a" title="1 étoile">1 star</label>
											</div>
											</div>
											<div style="display: inline-block; margin-right: 5px; float:left;">
												<p>Selectionner une note : </p>
											</div>
										</div>
                                        <textarea name="avis" id="" cols="1" rows="1" class="form-control" placeholder="Donnez nous votre avis sur ce produit"></textarea>
										</div>

                                    </div><br>
                                    <input style="margin-top:5px;" type="submit" name="review" value="Confirmer" class="round-black-btn">

                                </form>
                            </div>
                        {% else %}
                            <div class="alert alert-danger"> <a href="{{ path('app_login') }}" style="text-decoration: none; color:#b33939; font-weight: bold;">Connecte-toi</a> pour déposer un avis.</div>
                        {% endif %}
				  	</div>
				  	
				<br>
				<div class="container">
					{% for note in produit.getNotes() %}
					<div class="card card-body bg-dark">
						<div class="row">
						<div class="col-sm-3" style="text-align: center;">
							<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width: 100px; height: 100px;" class="img-rounded">
							<div class="review-block-name">{{ note.getIdClient().getPrenom() }}</div>
						</div>
						<div class="col-sm-9">
							<div class="review-block-rate">
								{% for i in 0..4 %}
									{% if note.getNote() > i %}
										<span class="star" style="color:gold;">★</span>
									{% else %}
										<span class="star" style="color:grey;">★</span>
									{% endif %}
								{% endfor %}
							</div>
							<br>
							<div class="review-block-description">{{ note.getAvis() }}</div>
						</div>
					</div>
				</div>

				<br>
				{% endfor %}

			</div>
		</div>
					</div>
				</div>
			</div>
		</div></div>
	</div><br><br>



{% endblock %}
