{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{% include '/base/flash.html.twig' %}

<script>

$(document).ready(function() {
    qte = $('.qty').val()
    id = $('#selectPrix').val()
    $.ajax({
        type: "POST",
        url: "{{ path('app_ajax') }}",
        data: {'id': id}
    }).done(function(data){
        var price = data['message'] * qte
        $('.prixProduit').text(price.toFixed(2));
    })
});

function updatePrice()
{
    qte = $('.qty').val()
    id = $('#selectPrix').val()
    console.log(qte);
    $.ajax({
        type: "POST",
        url: "{{ path('app_ajax') }}",
        data: {'id': id}
    }).done(function(data){
        var price = data['message'] * qte
        $('.prixProduit').text(price.toFixed(2));
    })
}
</script>

	<div class="container"><br><br>
        <div class="card card-body bg-dark text-white">
	        <div class="row">
	        	<div class="col-md-6">
                     <img src="{{produit.getIllustration()}}" style="text-align: center;"width="400px" height="400px" >
                </div>
	        	<div class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info">
		        			<div class="product-name">{{ produit.getNom() }}</div>
		        			<div class="reviews-counter">
								<div class="rate">
								    <input type="radio" id="star5" name="rate" value="5" checked />
								    <label for="star5" title="text">5 stars</label>
								    <input type="radio" id="star4" name="rate" value="4" checked />
								    <label for="star4" title="text">4 stars</label>
								    <input type="radio" id="star3" name="rate" value="3" checked />
								    <label for="star3" title="text">3 stars</label>
								    <input type="radio" id="star2" name="rate" value="2" />
								    <label for="star2" title="text">2 stars</label>
								    <input type="radio" id="star1" name="rate" value="1" />
								    <label for="star1" title="text">1 star</label>
								  </div>
								<span>3 Reviews</span>
							</div>
		        		</div><br>
	        			<p>{{produit.getDescription()}}</p>
                        <form action="{{ path('app_cart_add') }}" method="post">
	        			<div class="row">  
	        				<div class="col-md-6">
	        					<label for="contenance">Contenance</label>
								<select id="selectPrix" onChange="updatePrice(this)"  name="contenance" class="form-control">
                                    {% for stock in produit.getStocks() %}
									    <option value="{{ stock.getContenance().getId() }}">{{ stock.getContenance().getQuantite()}} {{stock.getContenance().getUnite() }}</option>
                                    {% endfor %}
								</select>
	        				</div>
	        			</div>
	        			<div class="product-count">
	        				<label for="size">Quantité</label>
	        				<form action="#" class="display-flex">
							    <input onChange="updatePrice(this)" type="number" name="quantity" min="1" value="1" class="qty">
							</form>
		        			<div class="product-price-discount"><span class="prixProduit">00.00</span> €</div>

                                <input type="submit" class="round-black-btn" value="Ajouter au panier">
                        
                            </form>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	        <div class="product-info-tabs">
		        <ul class="nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Avis</a>
				  	</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  	<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        {% if app.user %} 
                            <div>
                                <form action="#">
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                        <input type="submit" value="Envoyer" class="btn btn-sm btn-primary">
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="alert alert-danger"> <a href="{{ path('app_login') }}" style="text-decoration: none; color:#b33939; font-weight: bold;">Connecte-toi</a> pour déposer un avis.</div>
                        {% endif %}
				  	</div>
				  	
				</div>
			</div>
		</div></div>
	</div><br><br>



{% endblock %}
