{% include '/base/header.html.twig' %}

<style>
.container 
{
  max-width: 1400px !important;
}
</style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
            <img style="width: 80px; height: 40px;" src="/assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home') }}">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_product_category') }}">Nos produits</a>
        </li>
       
      </ul>
        <ul class="navbar-nav d-flex">
        {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.getNom() }}</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{{path('app_profil')}}">Votre profil</a>
              <a class="dropdown-item" href="{{path('app_profil')}}">Vos commandes <span class="badge badge-primary">0</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
  

            </div>
        </li>
         {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Espace membre</a>
          <div class="dropdown-menu">
  
              <a class="dropdown-item" href="{{ path('app_login') }}">Je me connecte</a>
              <a class="dropdown-item" href="{{ path('app_register') }}">Je m'inscrit</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Mot de passe oublié</a>

            </div>
        </li>
         {% endif %}
        </ul>
         <ul class="navbar-nav d-flex">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-success text-white" style="border-color:#7bed9f; background-color:#7bed9f;" href="{{ path('app_cart') }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill" style="color:#343a40;"viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart.countCart() }}</span>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    {% block body %}{% endblock %}
{% include '/base/footer.html.twig' %}